.icon-card-slideshow-wrapper {
  -webkit-animation: marquee 25s linear infinite;
  animation: marquee 25s linear infinite;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon-card-slideshow-wrapper:hover {
  animation-play-state: paused;
}

.icon-card-slideshow-item {
  margin: 0 8px;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
  from { transform: translateX(0%); }

  to { transform: translateX(-100%); }
}
