.icon-wrapper {
  align-items: center;
  border: 1px solid #ebedf3;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: center;
  transition: background-color .8s ease-in-out;
  width: 56px;
}

.icon path {
  -moz-animation: draw .8s ease-in-out forwards;
  -webkit-animation: draw .8s ease-in-out forwards;
  animation: draw .8s ease-in-out forwards;
  fill-opacity: 0;
}

@keyframes draw {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}
