.link {
  color: #086dd6;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.link-icon {
  align-items: center;
  display: flex;
  margin-left: 5.8px;
  position: relative;
}
