.link {
  color: #086dd6;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.link::after {
  background: #086dd6;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 0;
}

.link:hover::after {
  width: 100%;
}

.link-icon {
  transition: transform .3s;
}

.link:hover .link-icon {
  transform: translateX(3px);
  transition: transform .3s ease-in-out;
}

.link-icon-wrapper {
  align-items: center;
  display: flex;
  margin-left: 5.8px;
  position: relative;
}
