.icon-card-wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: center;
  position: relative;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
  transition: all .6s cubic-bezier(.165, .84, .44, 1);
  width: 160px;
}

.icon-card-wrapper::after {
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .16);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
  transition: all .6s cubic-bezier(.165, .84, .44, 1);
  width: 100%;
  z-index: -1;
}

.icon-card-wrapper:hover::after {
  opacity: 1;
}

.icon-card-text {
  color: #313944;
  cursor: default;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 16px;
}
