.wrapper {
  align-items: center;
  background-color: #f8f9fc;
  border: 1px solid #ccd2da;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 73px;
  padding: 48px 0 calc(48px - 32px);
}

.subtitle-wrapper {
  padding: 16px 0;
  width: 528px;
}

.slideshow-wrapper {
  overflow: hidden;
  padding: 32px 0;
  width: 100%;
}

@media only screen and (max-width: 680px) {
  .subtitle-wrapper {
    width: 100%;
  }
}
