.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  width: 100%;
}

.subtitle-wrapper {
  padding: 16px 0;
  width: 528px;
}

.slideshow-wrapper {
  padding: 32px 0;
}
