@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url(./fonts/avenir-next.ttf) format("ttf");
}

body {
  background-color: #f8f9fc;
  font-family: "Avenir Next", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-align: center;
}
